<!DOCTYPE html>
{%verbatim%}
<html data-ng-app="App">
<head>

<link rel="stylesheet" href="/src/Views/css/stylesheet.css">
<script src="/src/Views/js/angular.min.js"></script>
<script src= "/src/Views/js/main.js"> </script>
</head>


<body ng-controller="Controller">

<h1 id="header"></h1>
<a href = '/logout'>Logout</a>
<a href = '/projects'>Back to projects</a>
<div class="table-title">
<h3>Project Assignments Smartforms</h3>
</div>
<div class="form">
	<p> Select new member</p>
	<select ng-model="formData" ng-options=" x.person_id as x.Firstname +' ' + x.Lastname for x in nonmembers">
	<option value="">Choose a member</option>
	</select>
	<button class ="margined" id="addmember" ng-click="AddMember()">Add member</button>
</form>	
	<div class="member">
		<h2>Current members</h2>
		<ul id="memheader">
		<li ng-repeat=" x in members"> {{x.Firstname + ' ' + x.Lastname}}  <a class= "remove" id ={{x.person_id}} href ng-click="RemoveMember($event)"  > Remove</a> </li>
		</ul>
	</div>
</div>	


{%endverbatim%}


</body>
</html>